@import '../../shared/globalStyle/colors.scss';
@import '../../shared/globalStyle/fonts.scss';

.container-board__startGame {
    width: calc(100dvw - 11dvw);
    height: 100dvh;

    .container-board {
        position: absolute;
        right: 12dvw; /* Расстояние от правого края на 200px */
        width: 25dvw;
        height: 96dvh;
        background-color: $globalOverlayBackground;
        border-radius: 5px;
        margin: 1dvh;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;

        .container-game__options {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 7dvh;
            width: 85%;
            height: 7%;
            background-color: hsla(0, 0%, 100%, 0.08);
            border-radius: 0.2rem;
            cursor: pointer;

            &:hover {
                background-color: $globalGraySoftHover;
            }

            .main-game__options {
                display: flex;
                align-items: center;

                .text-game__options {
                    font-size: 0.6rem;
                    margin-left: 0.4rem;
                    font-weight: 500;
                }

                .clock-game__options {
                    width: 0.6rem;
                    height: 0.6rem;
                }
            }

            .arrow-game__options {
                width: 0.6rem;
                height: 0.6rem;
                position: absolute;
                right: 2rem;
                transform: rotate(90deg);
            }

            .active-arrow {
                transform: rotate(-90deg);
            }
        }

    }
}

.button-start__game {
    margin-top: .6rem;
    width: 84%;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: $greenMainColor;
    box-shadow: 0px 3px 0px $greenInnerBoxShadowrg;
    border-radius: 0.4rem;
    border: none;
    border-bottom: 0.05rem solid $greenBorderBottomLine;
    position: relative; /* Add this line to allow pseudo-element positioning */
    font-size: 0.8rem;
    font-weight: 800;
    font-family: $globalSecondaryFont;
    color: #fff;

    &:hover {
        background-color: $greenBackgroundHover;
        border-bottom: 0.01rem solid $greenBorderBottomLineHover;
        box-shadow: 0px 3px 0px $innerBoxShadow;
        cursor: pointer;
        transition: box-shadow 0.3s;

        &:hover:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 14px $innerBoxShadow;
            background-color: #d7ff9222;
            border-radius: 0.4rem;
        }
    }
}

.contaier-card__friend {
    position: relative;
    margin-top: 1.5rem;
    width: 84%;
    height: 9dvh;
    border-bottom: 0.5px solid black;
    border-radius: 0.3rem;
    background-color: $secondaryGreyBg;
    padding: 0.7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: all 0.3s;
        background-color: $greyDarkHoverButton;
    }
}


.image-card__friend {
    align-self: center;
    margin-left: 5px;
    width: 1.3rem;
    height: 1.3rem;
}

.text-card__friend {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    font-family: 500;
    font-size: .7rem;
    padding-left: .4rem;
    margin-top: -.2rem;
}