@import '../../shared/globalStyle/colors.scss';

// Formula for calculating the board offset for the opponentInfo block
// Formula: calc(widthBoard + offsetBoardTop + (offsetBoardTop - (offsetOpponentInfoBlock + avatarHeight)
// Parameters:
// - widthBoard: The width of the board.
// - offsetBoardTop: The board offset relative to the screen borders.
// - offsetOpponentInfoBlock: The offset of the opponentInfo block, always on top of the board.
// - avatarHeight: Height calculation for the avatar image.

.container-currentUser__info,
.container-opponent__info {
    position: absolute;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(2, 50%);
    width: 30dvh;
    height: 4.5dvh;
    left: 7.5dvh;

    @media (max-width: 1300px) {
        left: 4dvh;
    }
    @media (max-width: 900px) {
        width: 20dvh;
        height: 3.25dvh;
        left: 7.5dvw;
    }
    @media (max-width: 700px) {
        left: 3dvw;
        width: 15dvh;
        height: 2.5dvh;
    }
}

.container-currentUser__info {
    top: calc(85dvh + 7.5dvh + (7.5dvh - (2dvh + (30dvh * 0.6 / 4))));

    @media (max-width: 1300px) {
        top: calc(75dvh + 7.5dvh + (7.5dvh - (2dvh + (30dvh * 0.6 / 4))));
    }
    @media (max-width: 1100px) {
        top: calc(70dvh + 7.5dvh + (7.5dvh - (2dvh + (30dvh * 0.6 / 4))));
    }
    @media (max-width: 900px) {
        top: calc(65dvw + 7.5dvh + (7.5dvh - (3dvh + (20dvh * 0.6 / 4))));
    }
    @media (max-width: 700px) {
        top: calc(75dvw + 7.5dvh + (7.5dvh - (4dvh + (15dvh * 0.6 / 4))));
    }
    @media (max-width: 500px) {
        top: calc(75dvw + 7.5dvh + (7.5dvh - (4dvh + (15dvh * 0.6 / 4))));
    }
}

.container-opponent__info {
    top: 2dvh;

    @media (max-width: 900px) {
        top: 3dvh;
    }
    @media (max-width: 700px) {
        top: 4dvh;
    }
}

.user-info__avatar {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background-color: black;
    width: 60%;
    height: 100%;
    border-radius: 1px;
    overflow: hidden;
    border: 0.5px solid $greySupportiveColor;
}

.user-info__name {
    grid-row: 1;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    margin-left: 0.5dvw;
    font-size: calc(0.5dvh + 0.5dvw);
    font-weight: 600;
    margin-left: -10%;
    text-wrap: nowrap;

    @media (max-width: 1100px) {
        font-size: calc(0.6dvh + 0.6dvw);
    }
    @media (max-width: 900px) {
        font-size: calc(0.75dvh + 0.75dvw);
    }
}

.winning-figures {
    grid-row: 2;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
}
