@import '../../../../shared/globalStyle/colors.scss';

.history-moves {
    width: 100%;
    height: calc(96dvh * 0.89);
    overflow-y: auto;

    @media (max-width: 900px) {
        height: 18dvh;
    }

    @media (max-width: 700px) {
        top: 90dvw;
        height: 22dvh;
    }

    &::-webkit-scrollbar {
        width: 0.8dvh;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.45);
        border-radius: 1dvw;
    }

    .moves-container {
        position: relative;
        height: calc((96dvh * 0.89) / 22);
        width: 100%;
        display: flex;
        padding-left: 5%;
        font-size: 0.65dvw;

        @media (max-width: 900px) {
            font-size: 1.2dvw;
        }

        .row-number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3%;
            height: 100%;
            color: hsla(0, 0%, 100%, 0.5);
            margin-right: -7%;
        }
        .container-notation__move {
            top: 15%;
            bottom: 15%;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0.5% 1%;
            border-radius: 1px;

            @media (max-width: 900px) {
                border-radius: 2px;
            }

            &:has(img) {
                padding: 0 0.5%;
            }

            .notation-figure__logo {
                width: 1dvw;
                height: 1dvw;
                margin-left: -6%;
                @media (max-width: 900px) {
                    width: 2.4dvw;
                    height: 2.4dvw;
                    margin-left: -15%;
                }
            }

            .move {
                font-weight: 700;
                color: hsla(0, 0%, 100%, 0.72);
                font-size: 0.7dvw;
                text-wrap: nowrap;
                margin-left: -3%;
                @media (max-width: 900px) {
                    font-size: 1.5dvw;
                    margin-left: -3%;
                }
            }
        }

        .white-notation__move {
            position: absolute;
            left: 12%;
        }

        .black-notation__move {
            position: absolute;
            left: 35%;
        }

        .selected-move__index {
            background-color: hsla(0, 0%, 100%, 0.2);
            border-bottom: 0.2dvw solid hsla(0, 0%, 100%, 0.1);
        }
    }

    .even-row {
        background-color: hsla(0, 0%, 100%, 0.02);
    }
}
