@import '../../shared/globalStyle/colors.scss';

.main-container {
    position: relative;
}

.left-bar__container {
    width: calc((100% / 100) * 9); /* Устанавливаем ширину в 10.9% от ширины родителя */
    height: 100vh;
    color: $whiteMainColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $greyMainColor;
}

.cards-container {
    position: relative;
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(20, 4dvh);
    font-size: 12px;
    font-weight: 700;


    .card {
        grid-row: span 2;
        display: flex;
        align-items: center;
        padding-left: 10px; /* Добавляем внутренний отступ слева */
        cursor: pointer;
        transition: background-color 0.3s; /* Добавляем плавное изменение цвета */
    
        .title {
            margin-left: 10px;
            font-weight: 800;
            font-size: 10px;
        }
    
        &:hover {
            /* Применяем стили при наведении курсора */
            background-color: #181614; /* Новый цвет фона при наведении */
        }    
    }
}

.image-card {
    width: 1.1rem;
    height: 1.1rem;
}

.choose-authorization {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    grid-row: span 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;

    .button {
        border: none;
        outline: none;
        border-radius: 3px;
        width: 5.5rem;
        height: 1.75rem;
        color: #fff;
        font-weight: 700;
        font-size: 10px;
    }

    .sign-in {
        background-color: $greenMainColor;
        transition: box-shadow 0.3s; /* Добавляем плавное изменение тени */
    }

    .sign-up {
        background-color: $greySupportiveColor;
        transition: box-shadow 0.3s;
        margin-bottom: 10px;
    }

    /* Создаем эффект сияния при наведении */
    .sign-in:hover,
    .sign-up:hover {
        cursor: pointer;
        box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); /* Добавляем белую тень */
    }
}

.logo {
    width: 1.75rem;
    height: 3.25rem;
    margin-right: -12px;
    margin-left: -3px;
}

.utility-card {
    width: inherit;
    height: 100px;
    grid-row: 18 / span 2;
    display: flex;
    flex-direction: column;



    .utility-image {
        width: 15px;
        height: 15px;
    }

    .choose-language {
        display: flex;
        flex-direction: row;
    }

    .choose-color__UI {
        display: flex;
        flex-direction: row;
    }
}
