@import '../../globalStyle/colors.scss';

.container {
    position: absolute;
    width: calc(100dvw - 11dvw);
    height: 100vh;
}

.game-board__component {
    position: absolute;
    top: 0;
    right: 8dvw;
    width: 25dvw;
    height: 96dvh;
    background-color: $globalOverlayBackground;
    border-radius: 5px;
    margin: 2dvh;
    overflow: hidden;

    .semicircle {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100dvw;
        height: 100dvw;
        border-radius: 50%;
        background-color: $secondaryGreyBg;
        overflow: hidden;
        margin-top: -94dvw;
    }
}
