@import '../../shared/globalStyle/colors.scss';
@import '../../shared/globalStyle/fonts.scss';

.card-option__games {
    width: 84%;
    height: 35%;
    display: grid;
    grid-template-rows: repeat(3, 12dvh);

    .container-bullet__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1;
        gap: 0.2rem;
        grid-row: span 1;
        grid-template-rows: unset; /* Сброс свойства grid-template-rows */
    }
    .container-rapid__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row: span 1;
        grid-template-rows: unset; /* Сброс свойства grid-template-rows */
    }
    .container-blitz__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row: span 1;
        grid-template-rows: unset; /* Сброс свойства grid-template-rows */
    }

    
    .title-option {
        display: flex;
        align-items: center;

        .ligtning-option__card {
            width: .9rem;
            height: .9rem;
            margin-right: .15rem;
        }
        
        .bullet-option__card {
            width: 1.1rem;
            height: 1.1rem;
            transform: rotate(30deg); /* Поворот на 45 градусов */
        }
        
        .clock-option__card {
            width: 0.7rem;
            height: 0.7rem;
            margin-right: .3rem;
        }

        .name-option__card {
            font-size: .53rem;
            font-weight: 600;
        }
    }
}

.time-card {
    width: 4.5rem;
    height: 1.6rem;
    background-color: hsla(0, 0%, 100%, 0.08);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: all 0.3s;
        background-color: $globalGraySoftHover;
        cursor: pointer;
    }

    .title-time__card {
        font-size: .5rem;
        font-weight: 600;
        color: hsla(0,0%,100%,.85);;
    }
}

.time-card__2-1, .time-card__30, .time-card__5 {
    grid-column: 3;
}
.time-card__3, .time-card__10, .time-card__1 {
    grid-column: 1;
}
.time-card__3-2, .time-card__15-10, .time-card__1-1 {
    grid-column: 2;
}

.active-option__card {
    border: .12rem solid $greenMainColor;
}