@import '../../shared/globalStyle/colors.scss';

.cell {
    position: relative;
    width: calc(87vh / 8);
    height: calc(87vh / 8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.cell img {
    position: relative;
    width: calc(87vh / 8);
    height: calc(87vh / 8);
    cursor: grab;
    z-index: 2;

    &:active {
        cursor: grabbing;
    }
}

.selected {
    background-color: #ffff0080;
    width: 12.5%;
    height: 12.5%;
    z-index: 10;
}

.available {
    width: 33%;
    height: 33%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.figure-threatened {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
}

.king-attacked {
    background-color: #ff000089;
}

.chess-notation__number {
    position: absolute;
    left: 7%;
    top: 7%;
    font-size: 0.8rem;
    font-weight: 600;
}

.chess-notation__letter {
    position: absolute;
    right: 7%;
    bottom: 7%;
    font-size: 0.8rem;
    font-weight: 600;
}

.chess-notation__white {
    color: #edeed1;
}
.chess-notation__black {
    color: $darkGreenColor;
}
