@import '../../shared/globalStyle/colors.scss';

.cell {
    position: relative;
    width: calc(85dvh / 8);
    height: calc(85dvh / 8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    @media (max-width: 1300px) {
        width: calc(75dvh / 8);
        height: calc(75dvh / 8);
    }
    @media (max-width: 1100px) {
        width: calc(70dvh / 8);
        height: calc(70dvh / 8);
    }
    @media (max-width: 900px) {
        width: calc(65dvw / 8);
        height: calc(65dvw / 8);
    }

    @media (max-width: 700px) {
        width: calc(75dvw / 8);
        height: calc(75dvw / 8);
    }
}

.cell img {
    position: relative;
    width: calc(85dvh / 8);
    height: calc(85dvh / 8);
    cursor: grab;
    z-index: 2;
    @media (max-width: 1300px) {
        width: calc(75dvh / 8);
        height: calc(75dvh / 8);
    }
    @media (max-width: 1100px) {
        width: calc(70dvh / 8);
        height: calc(70dvh / 8);
    }
    @media (max-width: 900px) {
        width: calc(65dvw / 8);
        height: calc(65dvw / 8);
    }
    @media (max-width: 700px) {
        width: calc(75dvw / 8);
        height: calc(75dvw / 8);
    }

    &:active {
        cursor: grabbing;
    }
}

.selected {
    background-color: #ffff0080;
    width: 12.5%;
    height: 12.5%;
    z-index: 10;
}

.available {
    width: 33%;
    height: 33%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.figure-threatened {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
}

.king-attacked {
    background-color: #ff000089;
}

.chess-notation__number {
    position: absolute;
    left: 7%;
    top: 7%;
    font-size: calc(((87dvh / 8) + (87dvw / 8)) * 0.08);
    font-weight: 600;
}

.chess-notation__letter {
    position: absolute;
    right: 7%;
    bottom: 7%;
    font-size: calc(((87dvh / 8) + (87dvw / 8)) * 0.08);
    font-weight: 600;
}

.chess-notation__white {
    color: #edeed1;
}
.chess-notation__black {
    color: $darkGreenColor;
}
