//background
$greyBackground: #312e2b;
$greenBackgroundHover: #a3d160;
$globalOverlayBackground: #262421;
$secondaryGreyBg: #1615135f;

//main colors
$greyMainColor: #262421;
$greenMainColor: #81b64c;
$whiteMainColor: #fff;
$globalColorThemeMid: hsla(0,0%,100%,.72);
$globalColorThemeHigh: hsla(0,0%,100%,.85);
$globalColorThemeLow: hsla(0,0%,100%,.5);
$globalColorThemeLower: hsla(0,0%,100%,.2);
$globalGraySoft: hsla(0,0%,100%,.08);
$globalGraySoftHover: hsla(0,0%,100%,.15);

//Secondary colors
$darkGreenColor: #779952;
$greySupportiveDarkColor: hsl(0, 1%, 26%); 
$whiteSupportiveColor: #c8c5c5;
$grenSupportiveColor: #81b64c;
$greySupportiveColor: #535252;
$inputIconColor: hsla(0,0%,100%,.5);


//board
$highlightCell: #ffff33;

$greyDarkHoverButton: #161513;
//button
$greenBorderBottomLine: #45753c;
$greenBorderBottomLineHover: #5d9948;
$greenInnerBoxShadowrg: rgba(69,117,60,.5);
$secondaryBorderColor: rgba(93,153,72,.2);
$innerBoxShadow: rgba(69,117,60,.5);
$shadowGreenHover: #b2e068;

//border
$globalBorder: hsla(0,0%,100%,.1);

$color-text-link: #009fd9;