@import '../shared/globalStyle//colors.scss';

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    background-color: $greyBackground;
}