.black {
    background-color: #575757;
}

.white {
    background-color: #ececec;
}

.cell img {
    width: 57px;
    height: 57px;
    position: relative;
}

.cell {
    position: relative;
}

.selected {
    background-color: #c7bfe6;
}

.available {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #6eb5d1;
}

.figure-threatened {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(128, 128, 128, 0.3);
    border-radius: 50%; /* Устанавливаем радиус для круга */
    background-color: transparent; /* Прозрачный фон */
}

.king-attacked {
    background-color: #6eb5d1;
}

// .figure-threatened::before {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     border-radius: inherit; /* Наследуем радиус скругления от родительской окружности */
//     background-color: white; /* Цвет фона псевдоэлемента (может быть прозрачным) */
// }

// /* Дополнительные стили для центрирования окружности и удаления внутреннего содержания */
// .figure-threatened::before {
//     top: 0;
//     left: 0;
//     transform: translate(50%, 50%); /* Центрируем псевдоэлемент */
//     transform-origin: center;
// }
