@import '../../../../../shared/globalStyle/colors.scss';

.cards-level {
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
}
.card-skill {
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $globalGraySoft;
    border-radius: 0.2rem;
    margin: 0.7rem 0.5rem;
    cursor: pointer;
    position: relative;
    transition: border 0.3s;

    &:hover {
        background-color: $globalGraySoftHover;
    }

    &.active::before {
        content: '';
        position: absolute;
        top: -0.2rem;
        right: -0.2rem;
        bottom: -0.2rem;
        left: -0.2rem;
        border: 0.08rem solid $greenMainColor; /* Border with 10px padding */
        border-radius: 0.37rem;
    }
}

.skill-level__image {
    width: 1.35rem;
    height: 1.35rem;
}

.level-name {
    font-size: 0.45rem;
    font-weight: 500;
    color: $globalColorThemeHigh;
    margin-top: 0.3rem;
}

.skill-level__selection {
    width: 100%;
    height: 100%;
    grid-row: 8 / 11;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    .skill-question {
        font-size: 0.5rem;
        font-weight: 500;
        color: $globalColorThemeMid;
    }
}
